{{ define "main" }}
<div class="ui center aligned container">
    <h1 class="title">{{ .Title }}</h1>
    <div class="row">
        <!-- <img src="{{ .Params.img }}"> -->
        <div class="ui left aligned container">
        {{ .Content }}
        </div>
    </div>
</div>

{{ end }}
