<div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
          <h1>mmds</h1>
          <div class="ui horizontal inverted small divided link list">
            <a class="item" href="mailto:hello@mmdesign.studio">Contact</a>
            <a class="item" href="https://moroni.sk" target="_blank">moroni.sk</a>
            <p class="item">&copy; 2018-<script>document.write(new Date().getFullYear())</script></p>
          </div>
        </div>
</div>