{{ define "main" }}
    <div class="ui two column stackable grid container">
        {{ range (.Paginator 10).Pages }}
            <div class="column">
                <a href="{{ .Permalink }}"><img src="{{ .Params.directory }}{{ .Params.cover }}"></a>
            </div>
        {{ end }}
    </div>
{{ end }}
